.my-Header-Gradient {
    background: hsla(180, 33%, 88%, 1);
    background: linear-gradient(0deg, hsla(180, 33%, 88%, 1) 0%, hsla(310, 76%, 82%, 1) 50%, hsla(275, 57%, 68%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(180, 33%, 88%, 1) 0%, hsla(310, 76%, 82%, 1) 50%, hsla(275, 57%, 68%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(180, 33%, 88%, 1) 0%, hsla(310, 76%, 82%, 1) 50%, hsla(275, 57%, 68%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#D7EBEB", endColorstr="#F4AFE9", GradientType=1);
}

.my-Form-Gradient {
    background: hsla(186, 33%, 94%, 1);
    background: linear-gradient(225deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    background: -moz-linear-gradient(225deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    background: -webkit-linear-gradient(225deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1);
}