.dropdown {
    position: relative;
    width: 80%;
}

.dropdown .options {
    display: block;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 5px;
    width: calc(100% - 10px);
}

.option {
    padding-left: 10px;
    cursor: pointer;
    color: black;
}

.option:hover {
    color: gray;
}