.my-Leader-Tables {
    padding: 0;
    position: absolute;
    bottom: 1rem;
    max-width: calc(100% - 2rem);
}

.my-Table-Header {
    border-bottom: solid 1px;
    padding: 0.5rem;
    border-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.my-Table-Column {
    padding: 0;
    overflow: scroll;
    white-space: nowrap;
}

#sentiment_score {
    overflow: visible;
}

.my-Table-Column::-webkit-scrollbar {
    display: none;
}

.my-Table-Row {
    margin: 0;
    padding: 0.5rem;
    background-color: white;
    font-size: 10pt;
}

.my-Table-Row:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.my-Table {
    margin: 0.5rem;
    padding: 0;
}