/* Smartphones */
@media only screen and (max-width: 768px) {
    .Top-links {
        display: flex;
    }

    .Top-links * {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* Tablet, desktop */
@media only screen and (min-width: 769px) {
    .Top-links {
        display: flex;
    }

    .Top-links * {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    
}