/* Smartphones */
@media only screen and (max-width: 768px) {
    .Top-links {
        display: flex;
    }

    .Top-links * {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* Tablet, desktop */
@media only screen and (min-width: 769px) {
    .Top-links {
        display: inline-flex;
        overflow-x: hidden;
        margin-left: 1rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .Top-links * {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    
}