[Unit]
Description=Backend python process to read articles and process them (prod).

[Service]
User=jenkins
Group=jenkins

WorkingDirectory=/var/lib/jenkins/workspace/Sentiments-Prod/data-collection

EnvironmentFile=./prod-wallet.env
ExecStart=../venv/bin/python3 alpaca_collector.py

[Install]
WantedBy=multi-user.target