[Unit]
Description=Backend Gunicorn Process to post to socket file (dev)
After=network.target

[Service]
User=jenkins
Group=jenkins
SELinuxContext=system_u:system_r:httpd_t:s0

WorkingDirectory=/var/lib/jenkins/workspace/Sentiments-Pipeline-Dev/back-end

EnvironmentFile=/var/lib/jenkins/workspace/Sentiments-Pipeline-Dev/back-end/dev-wallet.env

ExecStart=/var/lib/jenkins/workspace/Sentiments-Pipeline-Dev/venv/bin/gunicorn --workers=3 --bind unix:/run/sentiments/sentiments-dev-gunicorn.sock wsgi:app

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target