[Unit]
Description=Backend python process to read articles and process them (dev).
After=network.target

[Service]
User=jenkins
Group=jenkins

WorkingDirectory=/var/lib/jenkins/workspace/Sentiments-Pipeline-Dev/data-collection

EnvironmentFile=/var/lib/jenkins/workspace/Sentiments-Pipeline-Dev/data-collection/alpaca-keys.env
EnvironmentFile=/var/lib/jenkins/workspace/Sentiments-Pipeline-Dev/data-collection/dev-wallet.env

ExecStart=/var/lib/jenkins/workspace/Sentiments-Pipeline-Dev/venv/bin/python3 \
    /var/lib/jenkins/workspace/Sentiments-Pipeline-Dev/data-collection/alpaca_collector.py

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target