[Unit]
Description=Backend Gunicorn Process to post to socket file (dev).

[Service]
User=jenkins
Group=jenkins

WorkingDirectory=/var/lib/jenkins/workspace/Sentiments-Dev
ExecStart=./venv/bin/gunicorn --workers 3 --bind unix:/run/sentiments-dev-gunicorn.sock wsgi:app

[Install]
WantedBy=multi-user.target